{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}

    <h1>Ultimas Noticias</h1>
    <p class="important">
        Welcome to my awesome homepage.
    </p>

    <div  class="card-columns">

    {% for p in articles %}
        <div  class="card p-3 border-dark mb-3">
          <img class="card-img-top" src="{{ p.img }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{p.title}}</h5>
            <p class="card-text">{{p.sub_title}}</p>
            <p class="card-text">{{p.body[:200]}} ... </p>
            <p class="card-text">{{p.author}}</p>
            <p class="card-text"><small class="text-muted">{{ p.pub_date }}</small></p>
            <a href="#" onclick="alert('te la creiste wey')" class="btn btn-primary">Leer + </a>
          </div>
        </div>
    {% endfor %}

      </div>

{% endblock %}

