<!DOCTYPE html>
<html>
   <body>
      <h3>Articles - Flask SQLAlchemy example</h3>

      <form action = "{{ request.path }}" method = "post">
         <label for = "title">Title</label><br>
         <input type = "text" name = "title" placeholder = "title" /><br>
         <label for = "subtitle">Subtitle</label><br>
         <input type = "text" name = "subtitle" placeholder = "subtitle" /><br>
         <label for = "body">addr</label><br>
         <textarea name = "body" placeholder = "body"></textarea><br>
         <label for = "author">Author</label><br>
         <input type = "text" name = "author" placeholder = "author" /><br>
         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>